# Entornos virtuales
venv/
venv310/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de entorno y configuración local
.env
*.env
*.log
*.sqlite3

# Archivos sensibles del proyecto
conexion.py

# Archivos de sistema
.DS_Store
*.swp
Thumbs.db
logs/sistema_alertas.log
logs/cron_prueba.log
logs/cron.log